{% extends "layouts.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='exchange.css')}}">
{% endblock %}

{% block online %}
<li class="nav-item" id="online_queue_login">
    <a class="nav-link" href="/online">Onlayn növbə</a>
</li>
{% endblock %}


{% block content %}

<div class="container">
    <div class="title-exchange">
        <h1>Valyuta məzənnələri</h1>
    </div>
    <div class="content-text">
        <form action="" method="post">
            <div class="datetime">
                <label for="">Tarix seçin</label>
                <input name="date" type="date" id="today" value="{{ todaytime }}" >
                <button class="currency-button" type="submit">Dəyiş</button>
            </div>
        </form>
        <div class="currency-date">
            <p>{{day}} tarixi üçün valyuta məzənnəsi</p>
        </div>
    </div>
    <div class="exchange">
        <h2>Məzənnələr</h2>
        <table>
            <tbody>
                <tr>
                    <th colspan="2" class="buying">Alış</th>
                    <th>Satış</th>
                </tr>
                <tr>
                    <td>USD</td>
                    <td>{{ value_usd }}</td>
                    <td>{{ value_usd }}</td>
                </tr>
                <tr>
                    <td>EUR</td>
                    <td>{{ value_euro }}</td>
                    <td>{{ value_euro }}</td>
                </tr>
                <tr>
                    <td>GBP</td>
                    <td>{{ value_pound }}</td>
                    <td>{{ value_pound }}</td>
                </tr>
                <tr>
                    <td>RUB</td>
                    <td>{{value_rub}}</td>
                    <td>{{value_rub}}</td>
                </tr>
                <tr>
                    <td>CHF</td>
                    <td>{{value_chf}}</td>
                    <td>{{value_chf}}</td>
                </tr>
                <tr>
                    <td>TRY</td>
                    <td>{{value_tr}}</td>
                    <td>{{value_tr}}</td>
                </tr>
                <tr>
                    <td>AED</td>
                    <td>{{ value_aed }}</td>
                    <td>{{ value_aed }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
{% block script %}

<script>
    document.getElementById('today').value = new Date().toISOString().substring(0, 10);

    $(document).ready(function () {
        var today = new Date();
        var day = today.getDate() > 9 ? today.getDate() : "0" + today
            .getDate();
        var month = (today.getMonth() + 1) > 9 ? (today.getMonth() + 1) : "0" + (today.getMonth() + 1);
        var year = today.getFullYear();

        $("#today").attr('max', year + "-" + month + "-" + day);
    });
    
</script>
{% endblock %}
{% endblock %}