{% extends "layouts.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% endblock %}
{% block online %}
<li class="nav-item" id="online_queue_login">
    <a class="nav-link" href="/online">Onlayn növbə</a>
</li>
{% endblock %}


{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">


        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>

    </ol>
    <div class="carousel-inner">
        {% for sliders in slider %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                <img src="{{sliders.image_url}}" class="d-block w-100"
                    alt="...">
                <div class="carousel-caption d-none d-md-block top-pic">
                    <img src="{{sliders.slider_top_pic}}" alt="">
                </div>
                <div class="carousel-caption top-lines">
                    <div class="top-line"><img src="{{sliders.slider_top_line}}"
                            alt=""></div>
                    <div class="top-title">
                        <h4>{{sliders.slider_title}}</h4>
                    </div>
                    <div class="top-line"><img src="{{sliders.slider_top_line}}"
                            alt=""></div>
                </div>
                <div class="carousel-caption top-subtitle">
                    <h1>{{sliders.slider_text}}</h1>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <button class="button-more">Daha ətraflı</button>

                </div>

            </div>
            
        {% endfor %}
    </div>

</div>


<section class="additions">
    <div class="blocks-outer"></div>
    <div class="container">
        <div class="additions-items">
            <div class="additions-item">
                <div class="additions-text">
                    <p>Biznesinizi Onlayna keçirməyin vaxtıdır!
                        E-ticarəti indi aktivləşdirin</p>
                </div>
                <span class="additions-button">Daha ətraflı</span>

            </div>

            <div class="additions-item">
                <div class="additions-text">
                    <p>Alternativ xidmət kanalları</p>
                </div>
                <span class="additions-button last-button">Daha ətraflı</span>

            </div>


        </div>
    </div>
</section>

<div class="container">
    <div class="all-cards">
        <div class="four-cards">
            <div class="card" style="width: 14rem;">
                <img src="	https://www.pashabank.az/uploads/category/thumbs/corporate_icon_01.svg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Korporativ Bankçılıq</h5>
                    <p class="card-text">İri həcmli şirkətlər üçün korporativ xidmətlər və maliyyələşmə.</p>
                    <a href="#" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="		https://www.pashabank.az/uploads/category/thumbs/investment_icon_01.svg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">İnvestisiya Bankçılığı</h5>
                    <p class="card-text">Qiymətli kağızlar (səhmlər, istiqrazlar) və valyutalar ilə əməliyyatlar.
                    </p>
                    <a href="#" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="		https://www.pashabank.az/uploads/category/thumbs/sme_icon_01.svg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kiçik və Orta Biznes</h5>
                    <p class="card-text">İllik dövriyyəsi 8 mln. AZN-dək olan biznes üçün
                        Daha</p>
                    <a href="#" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="https://www.pashabank.az/uploads/category/thumbs/exchange_icon_01.svg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Valyuta məzənnələri</h5>
                    <p class="card-text"></p>
                    <table  class="currency-prices" >
                        <tbody>
                            <tr>
                                <th colspan="2" class="sr">Alış</th>
                                <th>Satış</th>
                            </tr>
                            <tr>
                                <td class="currency" >USD</td>
                                <td>{{USD}}</td>
                                <td>{{USD}}</td>
                            </tr>
                            <tr>
                                <td class="currency">EUR</td>
                                <td>{{EUR}}</td>
                                <td>{{EUR}}</td>
                            </tr>
                            <tr>
                                <td class="currency">GBP</td>
                                <td>{{GBP}}</td>
                                <td>{{GBP}}</td>
                            </tr>
                            <tr>
                                <td class="currency">RUB</td>
                                <td>{{RUB}}</td>
                                <td>{{RUB}}</td>
                            </tr>
                            <tr>
                                <td class="currency">TRY</td>
                                <td>{{TRY}}</td>
                                <td>{{TRY}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/exchange" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
        </div>
        <div class="four-cards">
            <div class="card" style="width: 14rem;">
                <img src="		https://www.pashabank.az/uploads/category/thumbs/financial_icon_01.svg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title finance">Maliyyə İnstitutları</h5>
                    <p class="card-text">Beynəlxalq bazarlara çıxış və maliyyə əməliyyatları sahəsində geniş
                        imkanlar</p>
                    <a href="#" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="		https://www.pashabank.az/uploads/category/thumbs/individual_icon_01.svg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title special">Fərdi Bankçılıq</h5>
                    <p class="card-text">Fərdi müştəriləri, əməkhaqqı kart sahibləri və yüksək gəlirli fərdi
                        müştəriləri üçün maliyyə və qeyri-maliyyə xidmətləri</p>
                    <a href="#" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="https://www.pashabank.az/uploads/category/thumbs/agile_icon_01.svg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title carrier">Karyera</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="	https://www.pashabank.az/uploads/category/thumbs/hesabatlar_icon_05.svg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title ">Maliyyə hesabatları</h5>
                    <p class="card-text">Maliyyə göstəriciləri və başqa məlumat</p>
                    <a href="#" class="btn btn-primary">Daha ətraflı</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="last-cards">
        <div class="card last-card" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title">Private Banking</h5>
                <p class="card-text">Yüksək gəlirli fərdi müştərilərə maliyyə və qeyri-maliyyə xidmətləri.</p>
                <a href="#" class="card-link">Daha ətraflı</a>
            </div>
        </div>
        <div class="card last-card" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title">Komplayns</h5>
                <p class="card-text"></p>
                <a href="#" class="card-link">Daha ətraflı</a>
            </div>
        </div>
        <div class="card last-card" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title third-card">Azərbaycan Respublikasının Mərkəzi Bankı</h5>
                <p class="card-text third-card-text">"Maliyyə savadlılığı" Portalı</p>
                <a href="#" class="card-link">Daha ətraflı</a>
            </div>
        </div>
        <div class="card last-card" style="width: 21rem;">
            <div class="card-body">
                <h5 class="card-title">Onlayn xidmətlər</h5>
                <p class="card-text"></p>
                <a href="#" class="card-link">Daha ətraflı</a>
            </div>
        </div>
    </div>

</div>









{% endblock %}